<section class="footer" id="footer">
    <div class="row align-middle">
        <div class="columns large-2 medium-12 small-12 icons-footer">
            <img src="./images/visalogo.png" alt="">
            <img src="./images/mastercardlogo.png" alt="">
        </div>
        <div class="columns large-10 medium-12 small-12">
            <div class="copyright">
                <p>© Copyright 2019. Please read out <a href="terms.html">Terms and conditions</a>,
                    <a href="terms.html">Privacy policy </a>and
                    <a href="cookie.html">Cookie policy</a> for using playempires.com
                </p>
            </div>
        </div>

        <a href="#header" class="scroll" data-smooth-scroll data-animation-duration="1200">
            <!-- <span class="to-top"> -->
                <i class="fas fa-angle-up"></i>
            <!-- </span> -->
        </a>
    </div>
</section>