<section>
    <div data-shp="header-calltimes" class="editableText top-header text-center" data-content-name="nd_phone_header">
        Questions? Call  <nobr><a href="tel:44-20-7953-0208">44-20-7953-0208</a></nobr>  or <nobr><a href="tel:+13023274074">+13023274074</a></nobr> 24 hours a day, 7 days a week</div>
</section>
<section class="navigation" data-sticky-container id="header">
    <div  class="sticky" data-sticky data-margin-top="0">
        <div class="row align-justify align-middle">
            <!--Лого-->
            <div class="columns large-3 medium-12 small-10 block-logo">
                <a href="index.html" class="logo" id="logo">
                    <img src="images/logo.png">
                    <span>Playempires</span>
                </a>
            </div>
 
            <!--________________Mobile button_____________-->
            <div class="title-bar small-2 mobile-btn" data-responsive-toggle="example-menu" data-hide-for="medium">
                <button class="menu-icon" type="button" data-toggle="example-menu"></button>
            </div>
 
            <!--______________________Menu____________________-->
 
            <div id="example-menu" class="columns large-8 medium-12 small-12 align-middle">
                <ul class="vertical medium-horizontal menu align-right style_link_nav" data-smooth-scroll
                    data-animation-duration="1200">
                    <li data-content="home-page"><a href="index.html">Home</a></li>
                    <li data-content="about-us-page"><a href="about-us-page.html">About Us</a></li>
                    <li data-content="contact-page"><a href="contact.html">Contact</a></li>
                    <li data-content="signup-page"><a href="signup-page.html">Signup</a></li>
                    <li data-content="login-page"><a href="login.html">Login</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
 </section>